body {
    background-color: slateblue;
    color: white;
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

h2 {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(119, 102, 231);
    background-repeat:no-repeat;
    border: 3px solid red;
    border-radius: 100px;
    filter: drop-shadow(0 0 0.1em black);
    cursor: pointer;
    outline: none;
    margin: 20px;
    font-size: 100px;
}

button:hover {
    filter: drop-shadow(0 0 0.1em red);
}
